.user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.forma-required {
  color: #d9534f;
  padding: 0 4px;
}
.forma-form .forma-title {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  background: #f5f5f5;
  border: 1px solid #d8d8d8;
  border-bottom: 0;
  cursor: pointer;
  padding: 9px 10px 10px;
}
.forma-form .forma-title .forma-title-icon {
  display: inline-block;
  margin: 0 8px 0 0;
  font-size: 14px;
}
.forma-form .forma-title .forma-title-text {
  font-size: 14px;
  font-weight: bold;
}
.forma-form .form-body {
  border: 1px solid #d8d8d8;
}
.forma-form .form-body .form-fields {
  padding: 18px 12px 3px 12px;
}
.forma-form .form-body .form-actions {
  padding: 0 12px 12px 12px;
}
.forma-form .form-body .form-actions .forma-action {
  margin-right: 4px;
}
.forma-form .form-body .form-actions .forma-action i.fa {
  margin-right: 4px;
}
